body{
background:#050505;
color:white;
font-family:sans-serif;
text-align:center;
}

header{
padding:50px;
}

h1{
font-size:50px;
}

section{
padding:30px;
}

.card{
background:#151515;
margin:20px;
padding:20px;
border-radius:15px;
}